.rent-button {
  display: block;
  background-color: #bf4904;
  color: #fff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  width: 330px;
  transition: background-color 0.3s ease;
}

.rent-button:hover {
  background-color: #894b29;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    
}