.card {
  background-color: #fff;
  border: 1px solid #691e06;
  border-radius: 8px;
  padding: 16px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.card__image {
  width: 400px;
  height: 600px;
  border-radius: 20px;
}
.card__content {
  margin-top: 12px;
}
.card__title {
  color: #bf4904;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 8px;
}
.card__author {
  color: #691e06;
  font-size: 1rem;
  margin-bottom: 16px;
}
.card__button {
  display: block;
  background-color: #bf4904;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  width: 300px;
  transition: background-color 0.3s ease;
}
.card__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.card__button:hover {
  background-color: #894b29;
}
